html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  width: 100%;
  height: 238px;
  position: relative;
}

.robot {
  width: 320px;
  height: 320px;
  display: block;
  margin: auto;
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 53px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 22%;
  left: 47%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 15px;
}

.robot-head-left {
  right: 50%;
}

.robot-head-right {
  left: 50%;
}

.robot-head-left:hover {
  right: 55%;
}

.robot-head-right:hover {
  left: 55%;
}
